<section class="bg-altBlack py-8 text-red footer">
    <div class="container mx-auto flex flex-row items-center justify-between">
        <div class="flex flex-row justify-between space-x-8">
            <p class="font-bold text-red">&copy; 2020 Scott Oxford</p>
            <p class="text-red">Privacy Policy + Terms of Use</p>
        </div>
        <div>
            <ul class="flex flex-row space-x-8 text-2xl">
                <li><i class="fab fa-facebook-f text-red"></i></li>
                <li><i class="fab fa-instagram text-red"></i></li>
                <li><i class="fab fa-linkedin-in text-red"></i></li>
                <li><i class="far fa-envelope text-red"></i></li>
                <li><a href="http://newwordorder.com.au" target="_blank" class="text-red">Site by NWO</a></li>
            </ul>
        </div>
    </div>
</section>

</body>
</html>