{% include 'partials/header.twig' %}
<body class="antialiased bg-red overflow-x-hidden font-body">

{% include 'episode/partials/_header.twig' %}

<div class="container mx-auto px-8 lg:px-0 text-red relative">
    <div class="invisible lg:visible absolute flex flex-col items-center" style="top: 50%;left: -45px;">
        <p class="text-black uppercase transform rotate-90">Subscribe</p>
        <a target="_blank" href="https://podcasts.apple.com/au/podcast/brandjam-podcast/id1528668569">
            <i class="far fa-podcast text-black text-3xl mt-16"></i>
        </a>
        <a href="https://open.spotify.com/show/1LLRKiH94RdnTaLuL54ZFk" target="_blank">
            <i class="fab fa-spotify text-black text-3xl mt-4"></i>
        </a>
        <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9icmFuZGphbS5jby9wb2RjYXN0LWZlZWQucnNz?sa=X&ved=2ahUKEwi6r5vc3t3rAhW3_zgGHTzgDR0QrrcFegQIARAG" target="_blank">
            <img class="mt-4" src="/assets/img/google-podcast-black.svg" style="width: 30px;" alt="Google podcasts">
        </a>
    </div>

    <div class="flex flex-col lg:flex-row mb-8 lg:mb-32">
        <div class="w-1/6"></div>
        <div class="w-full lg:w-5/6 text-black">
            {% set episodes = craft.entries().section('episodes').orderBy('postDate desc').all() %}
            {% for episode in episodes %}
                <a href="{{ episode.url }}" class="episode block {% if not loop.last %}border-black border-b-2{% endif %} w-full">
                    <div class="px-0 p-6 flex flex-col lg:flex-row items-start lg:items-center cursor-pointer">
                        <h2 class="text-black text-4xl lg:text-8xl font-extrabold leading-none w-full lg:w-1/6 mr-0 lg:mr-16 text-left mb-4 lg:mb-0">
                            {{ episode.episodeNumber }}
                        </h2>
                        <div class="text-left">
                            <h2 class="text-black text-3xl mb-4 lg:text-5xl font-extrabold leading-none">
                                {{ episode.episodeTitle }}
                            </h2>
                            <p class="text-xl text-black">
                                {{ episode.episodeSubheading }}
                            </p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>

{% include 'partials/footer.twig' %}