<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Brand Jam</title>
</head>
<body>

    <div class="container">
        {% set entries = craft.entries().section('episodes').all() %}

        {% for episode in entries %}
            <h2>{{ episode.title }}</h2>
            <audio controls>
                {% set audio = episode.audioFile.one() %}
                <source src="{{ audio.url }}" type="audio/ogg">
                Your browser does not support the audio element.
            </audio>
        {% endfor %}
    </div>

</body>
</html>