{% include 'partials/header.twig' %}
<body class="antialiased bg-black overflow-x-hidden font-body">

<div class="container mx-auto relative">
</div>

<header class="relative hidden lg:block">
    <div class="container mx-auto py-16">
        <div class="flex justify-between flex-row items-center">
            <a href="/" class="justify-start">
                <img src="/assets/img/logo.svg" alt="Brand Jam">
            </a>
            {% include 'partials/navigation.twig' with { textColour: 'red' } %}
        </div>

    </div>
</header>
<header class="block lg:hidden">
    <div class="container mx-auto py-8">
        <a href="/" class="mx-auto w-full text-center">
            <img src="/assets/img/logo.svg" class="mx-auto" alt="Brand Jam">
        </a>
        {% include 'partials/navigation.twig' with { textColour: 'red' } %}
    </div>
</header>


<div class="container mx-auto px-8 lg:px-0 text-red relative">
    <div class="invisible lg:visible absolute h-screen flex flex-col items-center" style="top: 50%;left: -45px;">
        <p class="text-teal uppercase transform rotate-90">Subscribe</p>
        <i class="far fa-podcast text-teal text-3xl mt-16"></i>
        <i class="fab fa-spotify text-teal text-3xl mt-4"></i>
        <i class="fab fa-google text-teal text-3xl mt-4"></i>
        <i class="fab fa-soundcloud text-teal text-3xl mt-4"></i>
    </div>

    <div class="flex flex-col lg:flex-row">
        <div class="w-full lg:w-1/3"></div>
        <div class="w-full lg:w-2/3">
            <h1 class="text-5xl lg:text-7xl font-bold leading-none mb-8">
                When brand is your jam, you just can’t help but jam about brand.
            </h1>
            <p class="text-3xl lg:text-4xl font-light text-red leading-tight mb-8">
                But what’s the big deal about brand? (And no we don’t mean your logo either – brand is so much more than visual elements – it’s your story and every single way in which that story plays out.)
            </p>
            <div class="markdown">
                <p>
                    Brand continues to step up and take its place as a weapon that leaders use to bring transformational change to their businesses and organisations. But how did brand sharpen up and become powerful, and what are the ways this takes shape?
                </p>
                <p>
                    It all starts with some key questions, like how do brands build trust and connection, capture and express their authenticity and be memorable? How do they change hearts and minds and influence behaviours? And what are the great mistakes people make, and the big misconceptions about brand?
                </p>
                <p>
                    Agency head and brand evangelist Scott Oxford jams on all things brand with a variety of guests for whom brand is close to their hearts, and key to their professional practice.
                </p>
                <p>
                    Together they explore the strategic (and sometimes accidental) ways brands build meaning for people, how they find a place in our hearts and why leaders must understand and use brand to transform every aspect of their businesses and organisations, inside and out.
                </p>
            </div>
        </div>
    </div>
</div>

<section class="relative pt-0 lg:pt-32 mb-8 lg:mb-32">
    <img src="/assets/img/top-angle.svg" class="hidden xl:block absolute top-0" style="right: -600px;" alt="Brand Jam">
    <div class="container mx-auto px-8 lg:px-0">
        <div class="flex flex-col lg:flex-row">
            <div class="w-full lg:w-1/3"></div>
            <div class="w-full lg:w-2/3">
                <img src="/assets/img/podcast-bg.svg" alt="Brand Jam">
            </div>
        </div>
    </div>
    <img src="/assets/img/bottom-angle.svg" class="hidden xl:block absolute bottom-0" style="left: 0px;" alt="Brand Jam">
</section>

{% include 'partials/footer.twig' %}